
* {
    box-sizing: border-box;
}



hr {
    min-height: 0.4em;
    background-color: rgb(242, 242, 242);
    opacity: 0.6;
}

h1, h2, h3, h4 {
    font-family: Poppins;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
}

.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
    /* border: 1px solid transparent; */
}
.navbar-default {
     
    background-color: #ffff;
    border:0;
    font-family: Poppins;
    padding: 2rem;
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    /* border: 1px solid transparent; */
}
.navbar-brand {
    font-size: 2em;
    color: black !important;
    
}
 #showcase  {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    width: 100%;
    height: 100%;
}

#showcase h1 {
    font-size: 5rem;
    font-weight: 900;
    font-family: Poppins;
    
}

#showcase img {
    width: 80%;
    margin : 0 auto;
    display: block;
    
}

#showcase .btn {
    overflow: hidden;
    color: #4e5356;
    font-size: auto;
    padding: 1rem 2rem;
    text-decoration: none;
   
}

#showcase .showcase-right {

    margin-top : 3rem;
}
.showcase-right > section {
    display: grid;
    grid-template-columns: 30%  30%;
    grid-gap: 1rem;
	z-index: 1;
	
    
}

.pig-brain {
    
    position: relative;
    background-attachment: fixed;
    min-height: 50em;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.pigbrainimage {
    background: url('../img/brainquake.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    
    z-index: 1000;
    
}
.pig-brain > div > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 7rem;
    text-decoration: none;
    padding-bottom: 10rem;
    padding-top: -10rem;
}

.pig-brain > div {


    text-align: center;
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 2em;
    clip-path: circle(50% at 50% 50%);
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    
}

.pig1{
   
    min-height: 50em;
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 60%;
    
}

.pig1 img {
    width: 70%;
    
}

.pig1 h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
}

pig1 li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8em;
}

.pig1 div {
    padding-top: 10em;
    margin: 0;
    color : brown;
    display: inline-block;

}
.pig1  p {
    
    font-size: 3em;
    color: #666;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.vtitle {
	position: relative;
	width: 100%;
	height: 30vh;
	display: flex;
	align-items: center; 
	justify-content: center;
	overflow: hidden;
	z-index: -1;
	}

	 .videopara{
    -webkit-transition-position: fixed;
    position: fixed;
}

.vidcontainer {
position: relative;
top: 0;
left 0;
width: 100%


.pig2{
    background: url('../img/Tussle_of_words.jpg');
    min-height: 70em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    
}

.pigtswords {
	height: 30em;
    background-color: #f1f1f1;
	text-align: center;
	position: static;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 5em;
    color: brown;

}

.pigtswords h1{
    font-size: 5em;
   
    
}

.pigtswords p {
    font-size: 1.5rem;
    
    
    
}
.pig3{
    background: url('../img/Mr_Xpressions.jpg');
    min-height: 1220px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    background-attachment: fixed;
    background-color: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 30% 60%;
    
}

.pig3 > div {


    text-align: center;
    padding-top: 16em;
    padding-left: 5em;

    margin: 0 auto;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    

}

.pig4{
    background: url('../img/tre_detective.jpg');
    min-height: 1200px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: relative;
    background-attachment: fixed;
    background-color: white;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 70% 30%;
    
}

.pig4 > div {

    text-align: center;
    padding: 5em;
    margin: 0 auto;
    margin-top: 15em;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}
.pigspartan {
    background: url('../img/Agoge_of_sparta.jpg');
    min-height: 1200px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: relative;
    background-attachment: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
}
.piggame {
   
    min-height: 40em;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
    background-attachment: fixed;
}

.sectionparallax {
    min-height: 5em;
    background-color: #f1f1f1;
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding: 10rem;
    align-content: center;
    opacity: 1;

    
}
.section3 {
    height: 15em;
    background-color: #f1f1f1;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 5em;
    color: brown;
    
    
    
}
.section4 {
    height: 30em;
    background-color: #f1f1f1;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 10rem;
    color: brown;
  
    
}


video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.video-container {
    height: 30em;
    overflow: hidden;
    
}

 .video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}


video {
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.video-container2 {
    height: 30em;
    overflow: hidden;
    
}

 .video-parallax2 {
    -webkit-transition-position: fixed;
    position: fixed;
}

.pigheader {
    color: #f1f1f1;
    text-align: center;
    position: static;
    margin-top: -28rem;
    padding-bottom: 14rem;
    height: 30em;

}

.pigheader h1{
    font-size: 5em;
   
    
}

.pigheader p {
    font-size: 1.5rem;
    
    
    
}


.gamecontents {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.4rem;
    height: 10em;
    text-align: center;
}
.game-header h1{
    padding-bottom: 3rem;
    text-align: center;
    margin: auto;
}
.gamecontents > div {
    min-width: 1em;
    min-height: 6em;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
.fifa {
    background: url('../img/Jaquette_FIFA16_France_XboxOne.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.cs {
    background: url('../img/download-1.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}
.nfs {
    background: url('../img/71rlumUCbaL._AC_SL1000_.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

